.carousel-caption{
    text-decoration:  10px black;
}
 .navbarszoveg {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    
 }
body{
    background-color: antiquewhite;
    border-left: solid 10px;
    border-right: solid 10px;
}
.card-kep {
    max-width: 100%; /* A kép maximális szélessége 100%-a a kártya szélességének */
    max-height: 100%; /* A kép maximális magassága 100%-a a kártya magasságának */
    object-fit: contain;
}

